.ComparisonGraph {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #EBF0F5;
    margin-top: 30px;
}

.ComparisonGraphTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ComparisonGraphTopLeft h6 {
    color: #1E272E;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.32px;
    margin-bottom: 20px;
    /*margin bottom*/
}

.ComparisonGraphTopLeft p {
    max-width: 432px;
    color: #566474;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: -0.28px;
    line-height: 150%;
}

.ComparisonGraphTopLeft p span {
    font-weight: 700;
}

.textIconTag {
    width: 50px;
    height: 50px;
    background-color: #F7F8FA;
    border-radius: 50%;
    border: 1px solid #EBF0F5;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}