* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'DM Sans', sans-serif;
   position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EBF0F5;
    padding: 1.31rem 2.5rem 1.37rem 2.5rem;
}

.companyLogo {
    width: 120px;
    height: 29.239px;
}

.profileMenu {
    display: flex;
    align-items: center;
    gap: .62rem;
    padding: .5rem;
    border-radius: .62rem;
    border: 1px solid #EBF0F5;
}

.profileMenu img {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.profileMenu h4 {
    color: #1E272E;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -0.32px;
}

/* main */

main {
    display: flex;
}